
*.pyc
work2.bin
out.txt
outputs/shellcode-disassembly.txt
outputs/shellcode.bin
*.id1
*.pyc
*.exe
*.pyc
*.bin
outputs/**
shellcodes/**
shDis.py
testing.txt
testing10.py
testing10.txt
testing11.py
testing8.py
*.id0
*.id2
*.nam
*.til
fstenv.txt
fstenv2.txt
*.pyc
sharem_ancestor.py
sharem_austin.py
*.pyc
test2.txt
work.asm
__pycache__/lists.cpython-38.pyc
